body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    color: #333;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 100;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
    font-weight: bold;
    margin-bottom: 0;
}

h3 {
    font-weight: normal;
    margin-bottom: 5px;
}

h3 i {
    font-style: italic;
    font-size: 1.1em;
}

#en-tete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 2em auto;
}

#photo-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid lightgray;
}

#bloc-titre {
    text-align: left;
}

#bloc-titre i {
    font-style: italic;
    font-size: 1.2em;
    display: block;
    margin: 10px 0;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top:3em;
}

#colonne-gauche {
   border-right:1px solid lightgray;
}

section {
    margin:0 1em 4em 2em;
}

p {
    margin:.5em auto;
}

i {
    margin-right: .5em;
    color:#555;
}

hr {
    border: none;
    background-color: lightgray;
    height:1px;
}

a {
    text-decoration: none;
    color:#0077b5;
}

a:hover {
    text-decoration: underline;
}